<body>
<nav class="navbar navbar-expand-sm bg-black navbar-black">
  <div class="container">
    <img src="../../assets/pic.jpg" width="200" height="100" class="image" alt="">
    <h1>SMART GIG</h1>
  <ul class="nav nav-pills">
    <li class="nav-link">
      <a routerLink="home" class="nav-link" routerLinkActive="active"><h3>Home</h3></a>
    </li>
    <li class="nav-link">
        <a routerLink="login" class="nav-link" routerLinkActive="active"><h3>Login</h3></a>
    </li>
  </ul>
</div>
</nav>

</body>

<div class="container">
  <router-outlet></router-outlet>
</div>
